{% comment %}
A dropdown containing a list of selectable checkboxes.

Arguments:
  label: The text to use for the dropdown header box
  name: The name attribute to use for the checkbox inputs
  options: A list of strings for selectable options in the dropdown list
{% endcomment %}

<div class="checkbox-dropdown-container">
	<div class="checkbox-dropdown">
		<input
			type="checkbox"
			id="header-{{ include.name }}"
			class="checkbox-header"
		/>
		<label for="header-{{ include.name }}">{{ include.label }}</label>
		<ul class="checkbox-dropdown-list">
			{% for option in include.options %}
				<li>
					<input
						type="checkbox"
						id="{{ option }}"
						name="{{ include.name }}"
						value="{{ option }}"
					/>
					<label for="{{ option }}">{{ option }}</label>
				</li>
			{% endfor %}
		</ul>
	</div>
</div>
