{% comment %}
A table containing the list of fellows working with Open@RIT and their info.
Supports collaborations between multiple fellows working on a project.
Loads the information to display from `_data/fellows.yml`.
{% endcomment %}

<table>
	<thead>
		<tr>
			<th>Faculty</th>
			<th>School</th>
			<th>Project</th>
		</tr>
	</thead>
	<tbody>
		{% for fellow in site.data.fellows %}
		{% if fellow.collaborators %}
			{% assign people = fellow.collaborators %}
		{% else %}
			{% comment %}
				Stupid workaround for the fact that you can't create arrays
				directly with Liquid. Look it up if you don't believe me.
			{% endcomment%}
			{% assign people = ("" | split: ",") | push: fellow %}
		{% endif %}
		<tr>
			<td>
				{% for person in people %}
					{% assign name = person.name | replace: " ", "&nbsp;" %}
					{% if person.link %}
						<a href="{{person.link}}">{{ name }}</a>
					{% else %}
						{{ name }}
					{% endif %}
					{% unless forloop.last %}
						&
					{% endunless %}
				{% endfor %}
			</td>
			<td>
				{% for person in people %}
					{{ person.college }}
					{% unless forloop.last %}
						&
					{% endunless %}
				{% endfor %}
			</td>
			<td>
				<b>{{ fellow.project -}}
				{% if fellow.project-desc -%}
					:</b> {{ fellow.project-desc }}
				{% else %}
					</b>
				{% endif %}
			</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
