{% comment %}
An entry in a member grid of various styles.

Arguments:
  member: A LibreCorps member, with the following properties
    name: The member's name
    role: The member's position, used as a subtitle
    org: The member's organization, displayed as a bold subtitle (OPTIONAL)
    degree: The member's degree, displayed as an italic subtitle (OPTIONAL)
    headshot: The path to the member's headshot photo (alt-text: <name>'s headshot)
{% endcomment %}

{% assign member = include.member %}

<div class="member">
	<img
		src="{{member.headshot | relative_url}}"
		alt="{{member.name}}'s headshot"
	/>
	<b class="name">{{member.name}}</b> <br/>
	<span class="role">
		{{member.role}}
		{% if member.org %}
		<br/> <b>{{ member.org }}</b>
		{% endif %}
		{% if member.degree %}
		<br/> <i>{{ member.degree}}</i>
		{% endif %}
	</span>
</div>
