{% comment %}
A searchable and filterable grid to display our fellows' projects.
Must be loaded with the projects_search.js script in order to function.
{% endcomment %}

{% assign filters = "type-long|college" | split: "|" %}

<noscript>
	<p class="error">
		Sorry, projects searching requires JavaScript to be enabled in order to
		function. Please enable JavaScript to search projects.
	</p>
</noscript>
<div id="projects-grid">
	<div id="projects-search" class="hidden">
		<input
			id="projects-search-bar"
			type="text"
			placeholder="What are you looking for?"
		/>
		<input class="hidden" type="checkbox" id="filters-toggle" onclick="toggleFiltersDropdown()"/>
		<label class="filters-toggle" id="filters-label" for="filters-toggle">
			<svg id="filters-icon" width="29" height="20" viewBox="0 0 29 20" fill="none" xmlns="http://www.w3.org/2000/svg">
			<path d="M11.5527 20H17.7971V16.6667H11.5527V20ZM0.625 0V3.33333H28.7249V0H0.625ZM5.30831 11.6667H24.0416V8.33333H5.30831V11.6667Z" fill="#808080"/>
			</svg>
		</label>
	 	<div id="filters-row">
			{% for filter in filters %}
				{% assign capitalized = filter | capitalize %}
				{% assign label = capitalized %}
				{% if label contains '-long' %}
					{% assign label = label | remove: '-long' %}
				{% endif %}
				{% comment %}
				Workaround for the fact that you can't do:
					site.projects | map: filter | flatten | uniq
				{% endcomment %}
				{% assign options = ("" | split: ",") %}
				{% for project in site.projects %}
					{% assign options = options | push: project[filter] %}
				{% endfor %}
				{% assign options = options | uniq %}
				{%
				include checkbox-dropdown.html
					label=label
					name=filter
					options=options
				%}
			{% endfor %}
		</div>
	</div>
	<div id="projects-container">
		{% for project in site.projects %}
			<div id="{{ project.mystic-slug }}" class="project">
				<h2>{{ project.project-name }}</h2>
				<p class="owner">{{ project.owner | join: " & " }}</p>
				<hr>
				<p>{{ project.tldr }}</p>
				<div class="icon-row">
					<div class="college"><img src="/assets/images/icon/college.svg" alt=""><p>{{ project.college }}</p></div>
					<div class="type"><img src="/assets/images/icon/tags.svg" alt="">
						<ul>
						{% for short in project.type-short %}
							<li>{{ short }}</li>
						{% endfor %}
						</ul>
					</div>
				</div>
				<a href="{{ project.url | relative_url }}" class="view-more">View more</a>
			</div>
		{% endfor %}
	</div>
</div>
<script>
	const PROJECTS_DATA = {
		{% for project in site.projects %}
			"{{ project.mystic-slug }}": {
				"name":  "{{ project.project-name        }}",
				"tldr":  "{{ project.tldr                }}",
				"owner": "{{ project.owner | join: ' & ' }}",
				
				{% for filter in filters %}
					"{{ filter }}": [
						{% for value in project[filter] %}
							"{{ value }}",
						{% endfor %}
					],
				{% endfor %}
			},
		{% endfor %}
	};
	const FILTERS = [
		{% for filter in filters %}
			"{{ filter }}",
		{% endfor %}
	];
	init_filters();
	init_search();



	// toggle filters dropdown

	let filtersRow = document.getElementById('filters-row');
	let filtersToggle = document.getElementById('filters-toggle');
	let filtersIcon = document.getElementById('filters-icon');
	function toggleFiltersDropdown() {
		el = document.getElementById('filters-toggle');
		if(el.checked == true) {
			filtersRow.classList.add('filters-row--active');
			filtersIcon.classList.add('filters-icon--active');
		} else {
			filtersRow.classList.remove('filters-row--active');
			filtersIcon.classList.remove('filters-icon--active');
		}
	}
	// close filter dropdown when you click outside of it
  	// https://stackoverflow.com/a/49159229
	window.addEventListener('click', function (e) {
		if (!filtersRow.contains(e.target) && !document.getElementById('projects-search').contains(e.target) && filtersToggle.checked == true) {
			filtersRow.classList.remove('filters-row--active');
			filtersIcon.classList.remove('filters-icon--active');
			filtersToggle.checked = false;
		}
	})
</script>
