{% comment %}
TODO: documentation
{% endcomment %}

<noscript>
	<p class="error">
		Sorry, projects searching requires JavaScript to be enabled in order to
		function. Please enable JavaScript to search projects.
	</p>
</noscript>
<div id="projects-grid">
	<div id="projects-search" class="hidden">
		<input
			id="projects-search-bar"
			type="text"
			placeholder="Search Projects"
		/>
	</div>
	<div id="projects-container">
		{% for project-page in site.projects %}
			<div id="{{ project-page.slug }}" class="project">
				<h2>{{ project-page.project }}</h2>
				<p>{{ project-page.tldr }}</p>
				<p>{{ project-page.owner }}</p>
				<a href="{{ project-page.url | relative_url }}">View more</a>
			</div>
		{% endfor %}
	</div>
</div>
<script>
	const PROJECTS_DATA = {
		{% for project-page in site.projects %}
			"{{ project-page.slug }}": {
				"name":  "{{ project-page.project  }}",
				"tldr":  "{{ project-page.tldr  }}",
				"owner": "{{ project-page.owner }}",
			},
		{% endfor %}
	}
	init_search();
</script>
