/* Global styles */
@import "variables";
@import "header";
@import "navigation";
@import "banner";
@import "common";

/* Includes */
@import "includes/aside";
@import "includes/black-link-bar";
@import "includes/card-tiles";
@import "includes/cards";
@import "includes/event";
@import "includes/footer";
@import "includes/horizontal-row";
@import "includes/left-image";
@import "includes/link-grid";
@import "includes/member-grid";
@import "includes/q-and-a";
@import "includes/quote";
@import "includes/splash-blurb";
@import "includes/two-column";

.event-head{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width:100%;
}
.event-banner{
	padding-top: 150px;
	padding-bottom: 30px;
	border-top:1px solid transparent;
	background-color: transparent;
	width:100%;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;

	.event-c2{
		display: flex;
		margin-left:50px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
	.event-truchet{
		max-height: 196px;
		margin-bottom: 20px;
	}
	.event-save{
		display: flex;
		justify-content: end;
		align-items: flex-end;
		padding-bottom: 0px;
	}
	h1{
		color:white;
		font-size: 6rem;
		line-height: 98px;
		padding:0 !important;
		margin:0 !important ;
	}
	h2{
		color: var(--color-text-orange);
		background-color: transparent !important;
		font-size: 60px;
		line-height: 62px;
		margin:0;
		padding:0;
	}
	h3{
		color: white;
		font-size: 36px;
		background-color: transparent !important;
		margin:0;
		padding:0;
	}
}

.event-content{
	margin:0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width:100%;
	h2{
		font-size:48px;
	}
	p{
		font-style: italic;
		font-size: 20px;
		a{
			text-decoration: underline !important;
		}
	}
	ul{
		list-style: none;
		padding: 0px;
		max-width: 860px;
	}
	li{
		background-image: $svg-url-event-vector;
		background-size: 20px;
		background-repeat: no-repeat;
		background-position:0% 50%;
		align-items:center;
		padding-left: 36px;
		content:"";
		margin-bottom: 20px;
		width:auto;
		height:auto;
		p {
			font-style: normal;
			font-family: Roboto;
		    font-weight: 10;
			strong{
				font-weight: 700;
			}
		}
	}
}
.event-save-button{
	min-width:250px;
	padding: 10px 10px;
	background-color: var(--color-rit-orange);
	border:none;
	font-size: 36px;
	color:white;
	border-radius:10px;
}
.event-container{
	width: 1024px;
}

@media(max-width:750px){
	.event-banner{
		padding-top: 30px;
		h1{
			font-size: 2rem;
			line-height: 2.1rem;
		}
		h2{
			font-size: 1rem;
			line-height: 1.2rem;
		}
		h3{
			font-size: 0.5rem;
			line-height: 0.7rem;
		}
		.event-c2{
			display: flex;
			margin-left:5px;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		}
		.event-truchet{
			max-height: 100px;
			margin-bottom: 20px;
		}
		.event-save{
			display: flex;
			justify-content: end;
			align-items: flex-end;
			padding-bottom: 0px;
		}
	}
	.event-container{
		width:90%;
	}
	.event-content{
		margin-top:0 !important;
		padding-top: 0 !important;
		h2{
			font-size:2rem;
			margin-top:0 !important;
			padding-top: 0 !important;
		}

	}
	.event-save-button{
		width:auto;
		min-width:auto;
		padding: 5px 5px;
		background-color: var(--color-rit-orange);
		border:none;
		font-size: 12px;
		color:white;
		border-radius:2px;
	}
}

#mc_embed_signup {
    margin: 50px auto;
    color: black;
}
