---
---
/* Variable Definitions */

html {
	--color-rit-orange: #f76902;
	--color-text-orange: #c75300;
	--padding-body: 30%;
	--padding-body-right: 20%;
	@media (max-width: 650px) {
		--padding-body: 50px;
		--padding-body-right: 50px;
	}
}


/* Basic Setup & Constants */
body {
	margin: 0;
	font-family: "Roboto","Arial",sans‑serif;
}
h2 {
	margin-top: 100px;
	margin-bottom: 20px;
	font-weight: 500;
	font-size: 2.5rem;
	line-height: 1em;

	/* Disabled for reasons of being way too jenky
	// This is a bit of a hack to make it so that clicking on an anchor places it not
	// quite at the top of the page (where it would be covered up by the header)
	position: relative;
	padding-top: 250px;
	display: inline;
	z-index: -1
	*/
}
h3 {
	color: #727578;
}
button.big {
	border: none;
	min-width: 170px;
	min-height: 49px;
	background-color: var(--button-color);
	color: var(--button-text-color);
	font-weight: 700;
	font-size: 1.15rem;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-rows: 1fr;
	&:hover {
		background-color: var(--color-rit-orange);
		color: white;
	}
}
button {
	cursor: pointer;
}
thead {
	text-align: left;
	font-size: 1.3em;
}


/* Navigation and Header */
#orange-bar {
	border-bottom: 10px solid var(--color-rit-orange);
}
header {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 10;
}
#logos {
	display: grid;
	align-items: center;
	justify-items: center;
	margin-top: 15px;
	gap: 20px;
	@media (min-width: 850px) {
		grid-template-columns: 33% 33% 33%;
	}

	#rit-logo {
		width: 283px;
	}

	#open-at-rit-logo {
		text-align: center;
		display: block;
		color: black;
		text-decoration: none;
		:nth-child(1) {
			margin-bottom: 4px;
			margin-top: 0;
			font-size: 2em;
			font-weight: 500;
		}
		:nth-child(2) {
			font-size: 1.17em;
		}
	}
}
nav {
	display: grid;
	grid-template-rows: 1fr;
	grid-auto-flow: column;
	justify-content: center;
	gap: 40px;

	margin-top: 20px;

	background-color: white;

	.nav-section {
		color: rgb(108, 117, 125);
		box-sizing: border-box;

		.section-title {
			color: rgb(108, 117, 125);
			font-size: 1.2em;
			text-decoration: none;

			display: grid;
			grid-template-rows: 1fr;
			grid-auto-flow: column;
			grid-gap: 3px;
			align-items: center;

			padding-bottom: 9px;
			border-bottom: 6px solid transparent;
		}
		&:hover .section-title, &.active .section-title {
			border-bottom-color: var(--color-rit-orange);
			color: black;
		}

		&.expandable .section-title:after {
			content: url({{'/assets/images/ui/chevron.svg' | relative_url}});
		}

		.nav-expanded {
			display: none;
			background-color: #EAECEF;

			position: absolute;
			width: 100vw;
			height: 80px;
			left: 0;
			padding: 20px var(--padding-body);

			grid-template-columns: 50% 50%;
			grid-template-rows: 1fr 1fr 1fr;
			grid-auto-flow: column;
			justify-content: center;
			align-content: center;
			gap: 10px;

			:hover {
				color: var(--color-text-orange);
			}

			a {
				color: #343A40;
				font-size: 1.05em;
				text-decoration: none;
			}
		}

		&:hover .nav-expanded {
			display: grid;
		}

	}
}
#banner {
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 350px;

	display: grid;
	align-items: end;

	h1 {
		font-size: 4rem;
		margin-left: 42px;
		color: white;
		background-color: var(--color-rit-orange);
		width: fit-content;
		width: -moz-fit-content;
		padding: 0 21px;
		padding-top: 11px;
		padding-bottom: 11px;
		line-height: 70px;
	}
	margin-bottom: 50px;
}

/* Sidebar Nav */
#sidenav {
	position: sticky;
	width: calc(var(--padding-body) - 140px);
	padding: 0 70px;
	z-index: 5;
	float: left;

	font-size: 1.3rem;

	#breadcrumbs {
		color: #727578;
		text-decoration: none;
		font-size: 0.875rem;
		a:not(:last-child) {
			color: #727578;
		}
		:first-child {
			color: black;
			font-weight: bold;
		}
	}

	#toc {
		display: grid;
		gap: 10px;

		margin-top: 50px;

		a {
			font-size: 1.125rem;
			color: rgb(114, 117, 120);
			text-decoration: none;
			padding: 8px 0;
			margin: -8px 0;

			&.active {
				color: black;
				font-weight: bold;
				border-left: 8px solid #f76902;
				padding-left: 17px;
				margin-left: -25px;
			}

			&.subsection {
				padding-left: 23px;
			}
		}
	}

	#contact {
		color: #727578;
		font-size: 1.125rem;

		h2 {
			font-weight: 700;
			font-size: 2.25rem;
			margin-top: 50px;
		}

		&:first-child h2 {
			/* For when earlier elements in the sidebar are absent */
			margin-top: 0;
		}

		.contact {
			a:first-of-type {
				color: #727578;
			}
		}
	}

	@media (max-width: 1180px) {
		display: none;
	}
}

/* Content Styling */
a {
	color: var(--color-text-orange);
	text-decoration: none;
}
main {
	margin-left: var(--padding-body);
	margin-right: var(--padding-body-right);
	@media (max-width: 1180px) {
		margin-left: var(--padding-body-right);
	}

	line-height: 1.75rem;
	font-weight: 300;

	& > p:nth-child(1) {
		font-size: 2.25em;
		line-height: 1.4em;
		margin-bottom: 100px;
		font-weight: 300;

		position: relative;

		&:after {
			content: "";
			position: absolute;
			right: -25px;
			bottom: -24px;
			width: 91%;
			height: 95%;
			border-bottom: 8px solid #f76902;
			border-right: 8px solid #f76902;
		}
	}

	h1 {
		color: white;
		//background-color: red;
	}

	.big-text {
		font-size: 1.5em;
	}
}

/* Contact Footer */
#footer-contact {
	background-color: black;
	color: white;
	padding: 23px 0;
	margin-top: 80px;
	margin-bottom: -58px; /* compensate for real footer's margin */
	padding-left: var(--padding-body-right);

	p {
		margin: 5px 0;
	}

	h2 {
		margin: 0;
		font-size: 1.5rem;
		font-weight: bold;
	}

	.contacts {
		display: flex;
		gap: 50px;
		margin-bottom: 30px;

		b {
			display:none;
		}

		a:first-of-type {
			color: white;
		}

		.contact {
			display: grid;
			grid-template-columns: 1fr;
		}
	}

	@media (min-width: 1180px) {
		display: none;
	}
}

/* Footer */
footer:last-of-type {
	background-color: black;
	color: white;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	justify-items: center;
	align-items: center;
	padding: 50px 10%;
	margin-top: 80px;

	p {
		line-height: 1.25rem;
		font-size: 0.8rem;
		font-weight: 400px;
		color: #ced4da;
	}

	#socials {
		display: flex;
		gap: 10px;
		a {
			color: black;
			background-color: white;
			border-radius: 100px;
			width: 42px;
			height: 42px;
			position: relative;
			display: grid;
			justify-items: center;
			align-items: center;
			&:hover {
				background-color: var(--color-rit-orange);
				color: white;
			}
		}
	}

	button.big {
		background-color: white;
		color: black;
		width: 105px;
	}

	.links {
		margin: 50px 0;
		grid-column: 1/span 5;
		display: grid;
		width: 100%;
		justify-content: space-between;
		grid-auto-flow: column;
		gap: 23px;

		a {
			&:not(:hover) {
				color: white;
			}

			font-weight: bold;
			font-size: 1.1669em;
		}
	}

	@media (max-width: 1312px) and (min-width: 690px) {
		grid-template-columns: 1fr 1fr;
		gap: 30px;

		.links {
			grid-column: 1/span 2;
		}

		& > :nth-child(2) {
			grid-area: 2/1/3/2;
		}
	}

	@media (max-width: 1073px) and (min-width: 690px) {
		.links {
			grid-template-rows: 1fr 1fr;
		}
	}

	@media (max-width: 690px) {
		grid-template-columns: 1fr;
		gap: 30px;
		justify-items: start;

		button.big {
			display: none;
		}

		.links {
			grid-column: 1/span 1;
			grid-template-rows: initial;
			grid-auto-flow: row;
		}

		& > svg {
			max-width: 80%;
		}
	}

}


/************************
 * Widgets and Includes *
 ************************/

/* Two Column */
.two-column {
	h2:first-child {
		margin-top: 0;
	}

	@media (min-width: 800px) {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 30px;
	}
}

/* Aside */
.aside {
	display: block;
	float: right;
	border: 8px solid var(--color-rit-orange);
	padding: 5px 30px;
	margin: 10px 30px;
}

/* Link Grid */
.link-grid {
	display: grid;
	grid-auto-flow: row;
	--gap: 30px;
	grid-template-columns: repeat(var(--n-columns), calc(
		(100% - var(--gap) * (var(--n-columns) - 1)) / var(--n-columns)
	));
	gap: var(--gap);
	& > div {
		overflow: hidden;
		a {
			display: block;
			height: 250px;
			background-size: cover;
			padding: 10px 20px;
			color: white;
			font-size: 1.15rem;
			--shadow-overlay-size: 10%;
			--bg-overlay: linear-gradient(to top, rgba(0,0,0,80%) var(--shadow-overlay-size), transparent calc(var(--shadow-overlay-size) + 30%));

			span {
				display: grid;
				align-content: end;
				height: 100%;
				line-height: 1.172em;
			}

			&:hover {
				--bg-overlay: linear-gradient(rgba(247, 105, 2, 0.3), rgba(247, 105, 2, 0.3)), linear-gradient(to top, rgba(0,0,0,80%) 10%, transparent 40%);

				transform: scale(1.1);

				span {
					transform: scale(calc(1 / 1.1));
				}
			}
		}
	}
	&.big > div > a {
		--shadow-overlay-size: 17%;
		& > span {
			font-weight: 900;
			font-size: 2.5rem;
			padding-bottom: 7px;
			box-sizing: border-box;
		}
	}
}

/* Black Link Bar */
a.black-link-bar {
	display: block;
	background-color: black;
	color: white;
	width: 100%;
	padding: 9px 15px;
	box-sizing: border-box;
	margin: 25px 0;

	&:before {
		content: "> ";
		font-weight: bold;
		font-size: 1.2em;
	}

	&:hover {
		color: var(--color-rit-orange);
	}
}

/* Q & A */
.q-and-a {
	details summary {
		cursor: pointer;
		list-style-image: url({{ "/assets/images/ui/expando.svg" | relative_url }});
		color: #C75300;
		font-size: 1.25em;
		text-indent: -32px;
		margin-top: 5px;
	}
	details[open] summary {
		list-style-image: url({{ "/assets/images/ui/focused-expando.svg" | relative_url }});
	}
	details p {
		margin-top: 0px;
	}
	img {
		float: right;
		max-width: 170px;
		width: 20vw;
		margin: auto 20px;
	}
}

/* Quote */
.quote {
	.author {
		display: grid;
		justify-content: end;
		font-size: 1.2em;
		font-weight: 100;
	}

	margin: 20px 0;

	.quote-text {
		font-style: italic;
		font-size: 2rem;
		font-weight: 100;
		line-height: 2.5rem;

		width: 100%;

		padding: 0 40px;
		margin-top: 0;
		margin-bottom: 10px;
	}
}

/* Cards */
.cards {
	display: grid;
	grid-auto-flow: column;
	gap: 4vw;
	overflow-x: scroll;

	/* Both are needed for browser interop */
	scrollbar-width: none;
	&::-webkit-scrollbar {
		display: none;
	}

	.card {
		width: 14vw;
		display: block;

		line-height: 1.4rem;
		font-size: 0.875rem;

		.image-header {
			display: block;
			background-color: var(--color-rit-orange);
			line-height: 0;
			margin-bottom: 8px;
			overflow: hidden;

			img {
				transition: transform 0.05s, opacity 0.05s;
				&:hover {
					transform: scale(1.1);
					opacity: 70%;
				}
			}
		}

		.primary {
			font-weight: bold;
			font-size: 1.188em;
		}

		.secondary {
			font-weight: bold;
		}

		img {
			width: 100%;
		}
	}

	--card-animation-speed: 10s;
	--card-width: 18vw;
}
.cards.size-2 .card {
	animation: card-slider-2 calc(var(--card-animation-speed) * 2) infinite;
}
@keyframes card-slider-2 {
	47% {
		transform: translate(0);
	}
	50%, 97% {
		transform: translate(calc(var(--card-width) * -3 * 1), 0);
	}
}
.cards.size-3 .card {
	animation: card-slider-3 calc(var(--card-animation-speed) * 3) infinite;
}
@keyframes card-slider-3 {
	30% {
		transform: translate(0);
	}
	33%, 63% {
		transform: translate(calc(var(--card-width) * -3 * 1), 0);
	}
	66%, 97% {
		transform: translate(calc(var(--card-width) * -3 * 2), 0);
	}
}
.cards.size-4 .card {
	animation: card-slider-4 calc(var(--card-animation-speed) * 4) infinite;
}
@keyframes card-slider-4 {
	22% {
		transform: translate(0);
	}
	25%, 47% {
		transform: translate(calc(var(--card-width) * -3 * 1), 0);
	}
	50%, 72% {
		transform: translate(calc(var(--card-width) * -3 * 2), 0);
	}
	75%, 97% {
		transform: translate(calc(var(--card-width) * -3 * 3), 0);
	}
}
.cards.size-5 .card {
	animation: card-slider-5 calc(var(--card-animation-speed) * 5) infinite;
}
@keyframes card-slider-5 {
	17% {
		transform: translate(0);
	}
	20%, 37% {
		transform: translate(calc(var(--card-width) * -3 * 1), 0);
	}
	40%, 57% {
		transform: translate(calc(var(--card-width) * -3 * 2), 0);
	}
	60%, 77% {
		transform: translate(calc(var(--card-width) * -3 * 3), 0);
	}
	80%, 97% {
		transform: translate(calc(var(--card-width) * -3 * 4), 0);
	}
}
/* Left Image */
.left-image {
	display: grid;
	grid-template-columns: 40% 60%;
	align-items: center;
	gap: 40px;

	img {
		width: 100%;
	}
}
/* Horizontal Row */
.horizontal-row {
	--gap: 50px;
	display: grid;
	grid-auto-flow: column;
	align-items: center;
	grid-template-columns: repeat(
		var(--element-count),
		calc(
			1 / var(--element-count) * (
				100% - var(--gap) * (var(--element-count) - 1)
			)
		)
	);
	gap: var(--gap);

	img {
		width: 100%;
	}
}

/* Event Card */
.event-card {
	margin-top: 12px;
	display: grid;
	grid-template-rows: 0fr 0fr 0fr 1fr;

	img {
		height: 151px;
		width: 100%;
		object-fit: cover;
	}
	.metadata {
		font-size: 0.75rem;
		color: #727578;
		margin-top: 18px;
		line-height: initial;
	}
	h3 {
		margin-top: 0px;
		margin-bottom: -4px;
	}
	.description {
		font-weight: 300;
		&, p {
			margin: 13px 0;
			line-height: 20px;

			&:first-child {
				margin-top: 4px;
			}
		}
	}
}
/* Event loading errors */
.news-error:not(:empty) {
	background-color: #DA291C;
	color: white;
	padding: 20px;
	white-space: pre;

	&::first-line {
		font-size: 1.3rem;
		font-weight: bold;
	}

	&:not(:hover) {
		font-size: 0;
		line-height: 0;
		&::first-line {
			font-size: 0;
		}

		&:before {
			font-size: 1.3rem;
			line-height: 120%;
			content: "Oops!  We had a problem loading the news feed!"
		}
	}
}

/* Splash Blurb */
.splash-blurb {
	display: grid;
	grid-template-columns: calc(max(30%, 200px)) 1fr;
	gap: 14px;
	margin-bottom: 43px;

	& > img {
		width: 100%;
	}

	& > div {
		& > h4:first-child {
			font-size: 1.5em;
			background-color: #f76902;
			width: fit-content;
			color: white;
			padding: 3px 10px;
			margin: 0;
			margin-top: 15px;
			transform: translateX(calc(-20% - 30px));
		}

		li {
			list-style-type: circle;
		}
		ul {
			padding-left: 14px;
		}
	}
}

/* Card Tiles */
.card-tiles {
	display: grid;
	grid-auto-flow: row;
	--n-columns: 3;
	--gap: 0%;
	&.alt-style {
		--gap: 20px;
		--n-columns: 1;
	}
	grid-template-columns: repeat(var(--n-columns), calc(
		(100% - var(--gap) * (var(--n-columns) - 1)) / var(--n-columns)
	));
	gap: var(--gap);

	--hover-bg: rgba(199, 83, 0, 0.8);
	&.no-link {
		--hover-bg: rgba(0, 0, 0, 0.8);
		--button-color: #C75300;
		--button-text-color: white;
	}

	& > div {
		overflow: hidden;
		& > a, & > span {
			display: block;
			height: 500px;
			background-size: cover;
			color: white;
			--shadow-overlay-size: 10%;
			--bg-overlay: linear-gradient(to top, rgba(0,0,0,80%) var(--shadow-overlay-size), transparent calc(var(--shadow-overlay-size) + 30%));

			.contents {
				background-color: var(--hover-bg);
				padding: 10px 20px;
				height: 100%;
				font-weight: bold;
				.card-title {
					&:not(h2) {
						font-size: 2em;
						margin-top: 10px;
					}
					&:not(h3) {
						margin-top: 17px;
					}
					display: grid;
					align-content: end;
					position: relative;
					top: 0;
					color: white;
					transition: top 200ms, transform 200ms;
					line-height: 1em;
				}
				position: relative;
				transition: top 200ms;
				top: 0;

				ul {
					list-style: none;
					padding-left: 20px;
				}
			}
			&:not(:hover) > .contents{
				top: 100%;
				h2, h3 {
					top: 0;
					transform: translateY(calc(-100% - 35px));
				}
			}
		}
	}
	&.big > div > a {
		--shadow-overlay-size: 17%;
		& > span {
			font-weight: 900;
			font-size: 2.5rem;
			padding-bottom: 7px;
			box-sizing: border-box;
		}
	}
}

/* Card Tiles */
.profile {
	display: grid;
	grid-template-columns: calc(min(55%, 200px)) 1fr;
	column-gap: 10px;
	& > :first-child {
		grid-area: 1/1/2/3;
	}
	& > img {
		grid-area: 2/1/5/2;
		width: 100%;
	}
}

/* Member Grid */
.member-grid, .mini-member-grid {
	& > div.member {
		& > img {
			width: 100%;
			object-fit: cover;
		}

		& > b.name {
			font-size: 1.1875em;
			font-weight: 500;
			color: #C75300;
			line-height: 23px;
		}

		& > .role {
			font-size: 0.75em;
		}
	}
}
.member-grid {
	display: grid;
	grid-template-columns: repeat(var(--n-columns), var(--col-width));
	line-height: 19px;
	gap: 32px 19px;
	--col-width: 200px;
	--n-columns: 2;

	& > div.member > img {
		height: 300px;
	}

	@media (max-width: 670px) {
		--col-width: 50%;
		& > div.member > img {
			height: 200px;
		}
	}

	@media (min-width: 990px) {
		--n-columns: 3;
	}

	@media (min-width: 1350px) {
		--n-columns: 4;
	}

	img[alt*="i Sim"]:hover {
		animation: ee 5s;
		background-color: red;
	}
}
@keyframes ee { 90% { transform: rotate(0deg) } 100% { transform: rotate(360deg) } }

/* Mini Member Grid */
.mini-member-grid {
	display: flex;
	gap: 23px 26px;
	flex-wrap: wrap;
	margin-right: -15vw;

	& > div.member {
		display: block;
		width: 145px;
		& > img {
			height: 145px;
		}
	}

	@media (max-width: 670px) {
		--col-width: 50%;
	}

	@media (min-width: 990px) {
		--n-columns: 3;
	}

	@media (min-width: 1350px) {
		--n-columns: 5;
	}
}

.event-head{
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width:100%;
}
.event-banner{
	padding-top: 150px;
	padding-bottom: 30px;
	border-top:1px solid transparent;
	background-color: transparent;
	width:100%;
	display: inline-flex;
	justify-content: flex-start;
	align-items: center;

	.event-c2{
		display: flex;
		margin-left:50px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: space-between;
	}
	.event-truchet{
		max-height: 196px;
		margin-bottom: 20px;
	}
	.event-save{
		display: flex;
		justify-content: end;
		align-items: flex-end;
		padding-bottom: 0px;
	}
	h1{
		color:white;
		font-size: 6rem;
		line-height: 98px;
		padding:0 !important;
		margin:0 !important ;
	}
	h2{
		color: var(--color-text-orange);
		background-color: transparent !important;
		font-size: 60px;
		line-height: 62px;
		margin:0;
		padding:0;
	}
	h3{
		color: white;
		font-size: 36px;
		background-color: transparent !important;
		margin:0;
		padding:0;
	}
}

.event-content{
	margin:0;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	width:100%;
	h2{
		font-size:48px;
	}
	p{
		font-style: italic;
		font-size: 20px;
		a{
			text-decoration: underline;
		}

	}
	ul{
		list-style: none;
		padding: 0px;
		max-width: 860px;
	}
	li{
		background-image: url({{'/assets/images/ui/event-vector.svg' | relative_url}});
		background-size: 20px;
		background-repeat: no-repeat;
		background-position:0% 50%;
		align-items:center;
		padding-left: 36px;
		content:"";
		margin-bottom: 20px;
		width:auto;
		height:auto;
		p {
			font-style: normal;
			font-family: Roboto;
		    font-weight: 10;
			strong{
				font-weight: 700;
			}
		}
	}
}
.event-save-button{
	min-width:250px;
	padding: 10px 10px;
	background-color: var(--color-rit-orange);
	border:none;
	font-size: 36px;
	color:white;
	border-radius:10px;
}
.event-container{
	width: 1024px;
}

@media(max-width:750px){
	.event-banner{
		padding-top: 30px;
		h1{
			font-size: 2rem;
			line-height: 2.1rem;
		}
		h2{
			font-size: 1rem;
			line-height: 1.2rem;
		}
		h3{
			font-size: 0.5rem;
			line-height: 0.7rem;
		}
		.event-c2{
			display: flex;
			margin-left:5px;
			flex-direction: column;
			align-items: flex-start;
			justify-content: space-between;
		}
		.event-truchet{
			max-height: 100px;
			margin-bottom: 20px;
		}
		.event-save{
			display: flex;
			justify-content: end;
			align-items: flex-end;
			padding-bottom: 0px;
		}
	}
	.event-container{
		width:90%;
	}
	.event-content{
		margin-top:0 !important;
		padding-top: 0 !important;
		h2{
			font-size:2rem;
			margin-top:0 !important;
			padding-top: 0 !important;
		}

	}
	.event-save-button{
		width:auto;
		min-width:auto;
		padding: 5px 5px;
		background-color: var(--color-rit-orange);
		border:none;
		font-size: 12px;
		color:white;
		border-radius:2px;
	}
}

#mc_embed_signup {
    margin: 50px auto;
    color: black;
}
