/* Styles for project information pages */

#project-content {
	h2 {
		margin-top: 60px;
	}
	h3 {
		color: lighten(black, 10%);
	}
	#project-sources:not(:empty) ~ #no-sources {
		display: none;
	}
}

#project-metrics {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(365px, 1fr));
	gap: 1em;
	
	#no-metrics:not(:only-child) {
		display: none;
	}
	.embed-container {
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		padding: 0.5em;
		box-shadow: 0px 5px 10px #666;
		border-radius: 0.5em;
		
		&.tall {
			grid-row: span 2;
			
			.iframe-wrapper {
				padding-top: 100%;
			}
		}
		h4 {
			font-size: 1.1em;
			margin: 0.3em;
			margin-bottom: 0;
			color: lighten(#000, 40%);
		}
		.iframe-wrapper {
			position: relative;
			height: 0;
			flex-grow: 1;
			padding-top: 50%;
			
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				border: none;
			}
		}
	}
}
