/* Event styles (event.html) */

.event-card {
	margin-top: 12px;
	display: grid;
	grid-template-rows: 0fr 0fr 0fr 1fr;

	img {
		height: 151px;
		width: 100%;
		object-fit: cover;
	}
	.metadata {
		font-size: 0.75rem;
		color: #727578;
		margin-top: 18px;
		line-height: initial;
	}
	h3 {
		margin-top: 0px;
		margin-bottom: -4px;
	}
	.description {
		font-weight: 300;
		&, p {
			margin: 13px 0;
			line-height: 20px;

			&:first-child {
				margin-top: 4px;
			}
		}
	}
}

/* Event loading errors */
.news-error:not(:empty) {
	background-color: #DA291C;
	color: white;
	padding: 20px;
	white-space: pre;

	&::first-line {
		font-size: 1.3rem;
		font-weight: bold;
	}

	&:not(:hover) {
		font-size: 0;
		line-height: 0;
		&::first-line {
			font-size: 0;
		}

		&:before {
			font-size: 1.3rem;
			line-height: 120%;
			content: "Oops!  We had a problem loading the news feed!"
		}
	}
}
