/* Styles for the projects grid (projects-grid.html) */

#projects-search {
	position: relative;
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-bottom: 1em;
	font-size: 1.4rem;
	border-bottom: 1px solid #909090;
	margin-bottom: 60px;

	
	#projects-search-bar {
		display: block;
		box-sizing: content-box;
		font-size: 1.2rem;
		padding: .8em 1.2em .8em 1.2em;
		outline: none;
		border: none;
		width: 100%;
		z-index: 8;
		
		&:focus {
			border-radius: .6%;
			outline: 1px solid darken(#727578, 10%);
		}

		&::placeholder {
			font-size: 1.2rem;
			font-weight: 300;
			color: #272727;
		}
	}

	.filters-toggle {
		cursor: pointer;
		margin: 0px 15px;
	}

	#filters-row {
		width: 380px;
		display: flex;
		justify-content: center;
		gap: 1.6em;
		font-size: 1.2rem;
		top: 56px;
		right: 0;
		position: absolute;
		background-color: white;
		border: solid 1px #fff;
		border-top: none;
		z-index: 5;
		height: 0;
		transition: all .2s ease-in-out;
	}

	@media screen and (max-width: 480px) {
		#filters-row {
			width: 300px;
		}
	  }

	// check if filters-toggle is checked, if it is then unhide #filters-dropdown
	.filters-row--active {
		border: solid 1px #909090 !important;
		height: 300px !important;
		border-top: none !important;
	  }

	.filters-icon--active path {
		fill: #ee7600 !important;
	}
}

#projects-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 1em;
}

.project {
	overflow: hidden;
	position: relative;
	height: 360px;
	box-shadow: inset 0 0 0 1px #909090;
	padding: 10%;
	border-radius: .6%;
	display: flex;
	flex-direction: column;
	max-width: 300px;
}

.project {
	h2 {
		font-size: 1.3em;
		margin: 0;
		margin-bottom: -.7em;
		line-height: 1.5rem;
	}

	hr {
		border: 4px #ee7600 solid;
		width: 8%;
		margin-left: 0;
		margin-top: -14px;
		margin-bottom: -4px;
		transition: width .3s ease-in-out;
	}

	.tldr {
		display: -webkit-box;
		line-height: 1.5em;
		max-height: 150px;
		overflow: hidden;
		-webkit-line-clamp: 6;
    	-webkit-box-orient: vertical;
		text-overflow: ellipsis;
	}

	.view-more {
		font-size: 1.1rem;
		z-index: 6;
		margin: 0;
		padding: 0;
		background-color: #ee7600;
		color: white;
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		display: flex;
		justify-content: center;
		align-items: center;
		font-weight: 500;
		height: 56px;
		transform: translateY(56px);
		transition: transform .2s ease-out;
	}

	.college, .type {
		display: flex;
		gap: .5em;
		color: rgba($color: #000000, $alpha: .6);
		align-items: start;
	}

	img {
		height: auto;
		width: auto;
		aspect-ratio: 1;
	}

	li:nth-of-type(1) {
		list-style-type: none;
		margin-left: 0;
	}

	li {
		line-height: 1.3em;
		margin-left: 20px;
	}

	ul {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;
	}

	img {
		min-width: 20px;
		max-width: 20px;
	}

	.icon-row {
		margin-top: auto;
		margin-bottom: 45px;
		display: flex;
		flex-direction: column;
		gap: .5em;
	}

	.icon-row p {
		line-height: 1.2rem;
		padding: 0;
		margin: 0;
	}
	
}

// it looks smoother to fade the border width change than to transition normally
.project::before {
	z-index: -1;
	content: '';
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	box-shadow: inset 0 0 0 3px #909090;
	opacity: 0;
	transition: opacity .2s ease-in-out;
}

.project:hover {
	hr {
		width: 100%;
	}
	.view-more {
		transform: translateY(0px);
	}

	&::before {
		opacity: 1;
	}

	// cover up bottom section of card to clip outline
	&::after {
		z-index: 5;
		content: '';
		width: calc(100% - 2px);
		height: 55px;
		position: absolute;
		left: 0;
		bottom: 0;
		background-color: white;
		border: 1px solid #909090;
		border-top: 0px;
	}
}