/* Styles for the projects grid (projects-grid.html) */

.projects-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.project {
	margin: 1em;
	
	h2 {
		font-size: 1.3em;
		margin: 0;
	}
}
