---
layout: default
---
{% comment %}
TODO: don't duplicate this in default.html and base.html
{% endcomment %}
{% assign title = page.title | default: page.breadcrumbs[0].name %}

<header>

	<!-- Graphics -->
	<div id="orange-bar"></div>
	<div id="logos">
		{% include rit-logo.html logo_color="var(--color-rit-orange)" scale=0.8 %}
		<a id="open-at-rit-logo" href="{{ '/' | relative_url }}">
			<p>Open@RIT</p>
			<span>RIT's Open Programs Office</span>
		</a>
	</div>

	<!-- Navigation -->
	<nav>
		{% for section in site.data.navigation %}
			{% if section.name == page.breadcrumbs[0].name %}
				{% assign extra_classes = 'active' %}
			{% else %}
				{% assign extra_classes = '' %}
			{% endif %}
			{% if section.subroutes %}
				<div class="nav-section expandable {{extra_classes}}">
					<span class="section-title"> {{ section.name }} </span>
					<div class="nav-expanded">
						{% for subroute in section.subroutes %}
							<a href="{{ subroute.path | relative_url }}">
								{{ subroute.name }}
							</a>
						{% endfor %}
					</div>
				</div>
			{% else %}
				<div class="nav-section {{extra_classes}}">
					<a
						class="section-title"
						href="{{ section.path | relative_url }}" >
						{{ section.name }}
					</a>
				</div>
			{% endif %}
		{% endfor %}
	</nav>
</header>

<!-- Banner & Title -->
<div
	id="banner"
	style="background-image: url({{ page.banner | relative_url }})" >
	{% assign newline = "%0A" | url_decode %}
	<h1> {{ title | replace: newline, "<br/>" }} </h1>
</div>

<!-- Sidenav -->
<div id="sidenav">
	{% if page.breadcrumbs %}
		<div id="breadcrumbs">
			<a href="{{ '/' | relative_url }}"> <b>Open@RIT</b> </a>
			{% for crumb in page.breadcrumbs %}
				/ <a href="{{ crumb.path | relative_url }}"> {{crumb.name}} </a>
			{% endfor %}
		</div>
	{% endif %}
	{% if page.subnav %}
		<div id="toc">
			{% for header in page.subnav %}
				{% assign header_link = header.link | default: "#" | relative_url %}
				<a
						href="{{ header_link }}"
						{% if header.active %}class="active"{% endif %}>
					{{ header.name }}
				</a>
				{% for section in header.sections %}
					{% assign anchor = section | downcase
						| replace: " ", "-"
						| replace: "&", "" %}
					<a href="{{ header_link }}#{{ anchor }}" class="subsection">
						{{ section }}
					</a>
				{% endfor %}
			{% endfor %}
		</div>
	{% endif %}
	{% include contact.html %}
</div>

<!-- The Actual Content -->
<main>
	{{ content }}
</main>
