<!Doctype HTML>
<html lang="en">

{% comment %}
TODO: don't duplicate this in default.html and base.html
{% endcomment %}
{% assign title = page.title | default: page.breadcrumbs[0].name %}

<head>
	<meta charset="utf-8">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link
		href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
		rel="stylesheet">
	<link rel="icon" href="https://www.rit.edu/sites/all/themes/uwbase/rit_bootstrap_2019/favicon/favicon.ico">
	<link rel="stylesheet" type="text/css" href="{{'/assets/css/index.css' | relative_url }}">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="theme-color" content="#000000">
	<meta name="description" content="open@RIT website">
	<title> {{ title }} </title>
	{% for script in page.load_scripts %}
		<script src="{{script | relative_url}}"></script>
	{% endfor %}
</head>

<body {% if layout.body-style %} style="{{layout.body-style | flatify}}" {% endif %}>
	{{ content }}
	{% include footer.html %}
</body>

</html>