---
layout: default
body-style: |
  overflow-x: hidden;
  padding: 0; margin: 0;
  background-color: black;
  background-image: url({{ page.banner | relative_url }});
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top;
---
<div class="event-head">
	<div class="event-container">
		<div class="event-banner">
			{% assign newline = "%0A" | url_decode %}
			<div>
				{{ page.what | replace: "\n", "<br/>" }}
				<h2> {{ page.when | replace: "\n", "<br/>" }} </h2>
				<h3> {{ page.where | replace: "\n", "<br/>" }} </h3>
			</div>
			<div class="event-c2">
				<img class="event-truchet" src="{{'/assets/images/ui/event-vector.svg' | relative_url }}"/>
				<button class="event-save-button" style="cursor:initial !important">
					Save the date
				</button>

				<span style="display:inline-flex;margin-top:12px !important;">
					<a class="event-save" href="{{ '/assets/events/OpenWorkInAcademia.ics' | relative_url }}">
						<img src="https://img.icons8.com/bubbles/48/000000/ical.png"/>
					</a>
					<a class="event-save" href="{{ page.event_link }}">
						<img src="https://img.icons8.com/color/48/000000/google-calendar--v2.png"/>
					</a>
				</span>
			</div>
		</div>
	</div>
</div>
<!-- The Actual Content -->
<main class="event-content" style="color:white">
	<div class="event-container">
		{{ content | replace: "\n", "<br/>" }}
	</div>
</main>
