<!Doctype HTML>
<html lang="en">

{% assign title = page.title | default: page.breadcrumbs[0].name %}

<head>
    <meta charset="utf-8">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="icon" href="https://www.rit.edu/sites/all/themes/uwbase/rit_bootstrap_2019/favicon/favicon.ico">
	<link rel="stylesheet" type="text/css" href="{{'/assets/css/index.css' | relative_url }}">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="#000000">
    <meta name="description" content="open@RIT website">
	<title> {{ title }} </title>
	{% for script in page.load_scripts %}
		<script src="{{script | relative_url}}"></script>
	{% endfor %}
</head>
<body style="overflow-x: hidden; padding:0; margin:0; background-color: black;
			background-image: url({{ page.banner | relative_url }});
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top;
			">
	<div class="event-head">
		<div class="event-container">
			<div class="event-banner">
				{% assign newline = "%0A" | url_decode %}
				<div>
					{{ page.what | replace: "\n", "<br/>" }}
					<h2> {{ page.when | replace: "\n", "<br/>" }} </h2>
					<h3> {{ page.where | replace: "\n", "<br/>" }} </h3>
				</div>
				<div class="event-c2">
					<img class="event-truchet" src="{{'/assets/images/ui/event-vector.svg' | relative_url }}"/>
					<button class="event-save-button" style="cursor:initial !important">
						Save the date
					</button>

					<span style="display:inline-flex;margin-top:12px !important;">
                        <a class="event-save" href="{{ '/assets/events/OpenWorkInAcademia.ics' | relative_url }}">
							<img src="https://img.icons8.com/bubbles/48/000000/ical.png"/>
						</a>
						<a class="event-save" href="{{ page.event_link }}">
							<img src="https://img.icons8.com/color/48/000000/google-calendar--v2.png"/>
						</a>
					</span>
				</div>
			</div>
		</div>
	</div>
	<!-- The Actual Content -->
	<main class="event-content" style="color:white">
		<div class="event-container">
		{{ content | replace: "\n", "<br/>" }}
		</div>
	</main>

	<!-- And Finally, The Footer -->
	<footer id="footer-contact">
		{{ contact }}
	</footer>
	<footer>
		{% include rit-logo.html logo_color="white" text_color="white" %}
		<p>
			 One Lomb Memorial Drive<br/>
			 Rochester, NY 14623<br/>
			 585-475-2411
		</p>
		<div id="socials">
			{% for social in site.data.socials %}
				<a href="{{social.url}}">
					{% assign icon_name=social.name | downcase %}
					{% assign icon_alt="Open@RIT's " | append: social.name %}
					{% include icon.html name=icon_name size=24 alt=icon_alt %}
				</a>
			{% endfor %}
		</div>
		<a href="mailto:sj@magic.rit.edu">
			<button class="big">Contact</button>
		</a>
		<div class="links">
			{% for section in site.data.navigation %}
				<a
					href="{{ section.path | relative_url }}" >
					{{ section.name }}
				</a>
			{% endfor %}
		</div>
	</footer>

</body>
</html>
