---
layout: base
load_scripts:
- /assets/js/project.js

breadcrumbs:
- name: Our Open Work
  path: /our-work/
- name: Our Fellows' Projects
  path: /our-work/fellows-projects
- name: TEMP_REWORK_TODO_NAME
  path: TEMP_REWORK_TODO_URL

subnav:
- name: Our Work and Projects
  link: /our-work
  sections:
  - LibreCorps Team
  - Mystic
  - World Around You
  - Conceptual Mismatches
- name: Our Fellows' Projects
  link: /our-work/fellows-projects
---

<div id="project-content" class="hidden">
	{% comment %}
	Divs to be filled in by the project.js script
	{% endcomment %}
	<h2>About</h2>
	<div id="project-about"></div>
	<h3>Resources</h3>
	<ul id="project-sources"></ul>
	
	<div id="project-owner"></div> <!-- TODO: include for this? -->
	
	<div id="project-services">
		{{ content }}
	</div>
	
	{% comment %}
	More divs to be filled in by project.js
	{% endcomment %}
	<h2>Metrics</h2>
	<div id="project-metrics">
		<p id="no-metrics">
			This project has no metrics to display.
		</p>
	</div>
	<!-- TODO: include for this?
	<h2>Team Members</h2>
	<div id="project-members"></div>
	-->
</div>
<!-- <Errors> -->
<noscript>
	<p class="error">
		Sorry, project information requires JavaScript enabled in order to
		be loaded. Please enable JavaScript to see project information.
	</p>
</noscript>
<div id="loading-error" class="hidden">
	<p class="error">
		Sorry, there was a problem loading the information for this project.
		Please try again later. <br/>
		If this problem persists, please contact Michael Nolan using the
		contact information below.
	</p>
</div>
<!-- </Errors> -->
<script>
	const PROJECT_SLUG = "{{ page.slug }}";
	fetch_data();
</script>
